body{
    margin: 0px;
}
.main{
    padding-top: 280px;
}
.images{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 20px;
    object-position: center;
    padding: 10px;
    margin:0px 40px;
    background-color: rgb(243, 243, 243);
}
.container{
    width: fit-content;
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.hover-div{
    position: absolute;
    padding-top: 10px;
    margin-top: 5px;
    row-gap: 10px;
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    left: 0;
    right: 0;
    display: grid;
    opacity: 0;
    grid-template-rows:auto;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s;
    pointer-events: none ;
}
.container:hover{
    .hover-div{
        opacity: 1;
    }
}
.hover-div .inside{
    border-bottom: 1.7px  solid rgb(239, 239, 239);
    overflow:hidden;
    padding: 10px 10px 6px 10px;
    font-family: comfortaa , roboto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1vw;

}
.hover-div .inside h{
    font-weight:bolder;
}
.hover-div .inside p{
    font-weight: 500;
}
.hover-div .inside .text-right{
    margin-top: -17px;
}
.container img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.info{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: open sans ,arial;
    color: rgb(135, 135, 135);
}
.posters{
    width: 100%;
}
.posters img{
    width: 100%;
}
.title1::before ,.title1::after{
    content: "";
    height: 1px;
    background-color: rgb(163, 163, 163);
    display: block;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title1{
    font-family:Comfortaa ,arial; 
    margin: 50px 60px 65px 60px;
    display: grid;
    font-size: 2vw;
    white-space: nowrap;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    column-gap: 5px;
}
.posters2 {
    width: 100%;
}
.posters2 img{
    width: 100%;
}
.images2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.images2 .container1{
    display: grid;
    width: fit-content;
}
.images2 .container1 img{
    width:  100%;
    height: auto;
}
.images2 .container1 div{
    display: flex;
    justify-content: center;
}
.images2 .model{
    font-family: open sans ,arial;
    font-size: large;
    font-weight: bold;
}
.models{
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    font-family: open sans , arial;
    font-weight:700;
    font-size: xx-large;
    border-bottom: 1px solid grey;
}
.explore{
    background-color:#56b7c3;
    color: white;
    font-weight: bolder;
    margin: 10px auto 20px auto;
    border: none;
    border-radius: 10px;
    padding: 20px 60px;
    font-family: LKFuturaStd,arial;
}
.posters3{
    margin: 50px 0px;
    width: 100%;
}
.posters3 img{
    width: 100%;
}
a , a:active{
    
    text-decoration: none;
    color: rgb(34, 34, 34);
}
.chat{
    position: fixed;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    right: 30px;
    bottom: 25px;
}
.chat img{
    cursor: grab;
    padding: 15px;
    width: 33px;
    height: 28px;
}